


/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.postt{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.image-upload>input {
    display: none;
  }

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#00C6FF, #0078FF);
}
::selection{
  color: #fff;
  background: #1a81ff;
}
.containe{
  width: 500px;
  height: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.containe.active{
  height: 590px;
}
.containe .wrapper{
  width: 1000px;
  display: flex;
}
.containe .wrapper section{
  width: 500px;
  background: #fff;
}
.containe img{
  cursor: pointer;
}
.containe .post{
  transition: margin-left 0.18s ease;
}
.containe.active .post{
  margin-left: -500px;
}
.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  max-width: 52px;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #FFF5F3;
  transition: all 1.9s ease;
}

form textarea:valid ~ button{
  color: #FFF;
  cursor: pointer;
  background: #FE5D37;
}
form textarea:valid ~ button:hover{
  background: #2ace82;
}


.list li .column .details p{
  font-weight: 500;
}
.list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.list li.active .radio{
  border: 2px solid #4599FF;
}
.list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.list li.active .radio::before{
  background: #4599FF;
}













.blog-page .single_post {
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}

.blog-page .single_post .img-post {
  position: relative;
  overflow: hidden;
  max-height: 500px
}

.blog-page .single_post .img-post>img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
  transition: transform .4s ease, opacity .4s ease;
  max-width: 100%;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01)
}

.blog-page .single_post .img-post:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  opacity: .7;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out
}

.blog-page .single_post .img-post:hover .social_share {
  display: block
}

.blog-page .single_post .img-post .social_share {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none
}

.blog-page .single_post .meta {
  list-style: none;
  padding: 0;
  margin: 0
}

.blog-page .single_post .meta li {
  display: inline-block;
  margin-right: 15px
}

.blog-page .single_post .meta li a {
  font-style: italic;
  color: #959595;
  text-decoration: none;
  font-size: 12px
}

.blog-page .single_post .meta li a i {
  margin-right: 6px;
  font-size: 12px
}

.blog-page .single_post h3 {
  font-size: 20px;
  line-height: 26px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease
}

.blog-page .single_post h3 a {
  color: #242424;
  text-decoration: none
}

.blog-page .single_post p {
  font-size: 15px
}

.blog-page .single_post .blockquote p {
  margin-top: 0 !important
}

.blog-page .right-box .categories-clouds li {
  display: inline-block;
  margin-bottom: 5px
}

.blog-page .right-box .categories-clouds li a {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  color: #242424
}

.blog-page .right-box .instagram-plugin {
  overflow: hidden
}

.blog-page .right-box .instagram-plugin li {
  float: left;
  overflow: hidden;
  border: 1px solid #fff
}

.blog-page .comment-reply li {
  margin-bottom: 15px
}

.blog-page .comment-reply li:last-child {
  margin-bottom: none
}

.blog-page .comment-reply li h5 {
  font-size: 18px
}

.blog-page .comment-reply li p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777
}

.blog-page .comment-reply .list-inline li {
  display: inline-block;
  margin: 0;
  padding-right: 20px
}

.blog-page .comment-reply .list-inline li a {
  font-size: 13px
}

.page.with-sidebar.right .left-box {
  margin-right: -20px
}

@media (max-width: 414px) {
  .section.blog-page {
      padding: 20px 0
  }
  .blog-page .left-box .single-comment-box>ul>li {
      padding: 25px 0
  }
  .blog-page .left-box .single-comment-box ul li .icon-box {
      display: inline-block
  }
  .blog-page .left-box .single-comment-box ul li .text-box {
      display: block;
      padding-left: 0;
      margin-top: 10px
  }
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
.card .header {
  color: #424242;
  padding: 20px;
  position: relative;
  box-shadow: none;
}
.card .header h2 {
  font-size: 15px;
  color: #757575;
  position: relative;
}
.card .header h2:before {
  background: #a27ce6;
}
.card .header h2::before {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  top: -20px;
  content: '';
}
.m-b-15 {
  margin-bottom: 15px;
}




.file-input.selected:lang(en)::after {
  content: "" !important;
}

.custom-file-input {
  white-space: nowrap;
}